*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.div1{
    border: 0.1vw solid black;
    border-bottom: none;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    height: 80%;
    background-image: url(https://cdn.pixabay.com/photo/2020/06/08/16/19/woman-5275027_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

  
   
    
   
}
.div1 .div1-in{
    text-align: center;
    width: 60%;
    height: 20vh;

}
.div1 .div1-in h1{
    font-size: 10vw;
    color: rgb(199, 44, 199);
    font-weight: 900;
    margin-top: 5vh;
 
}
.div1 .div1-in span{
    font-size: 6vw;
    color: rgb(199, 44, 199);
    font-weight: 100;
}

.div2{
    margin-left: 5%;
    width: 90%;
    height: 80%;
   
    display: flex;
    border: 0.1vw solid rgb(71, 71, 71);
    border-bottom: none;
    border-top: none;

}
.div2L{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2L-in{
    height: 80%;
    width: 80%;
   
}
.div2L-in h1{
    font-size: 5vw;
    margin-bottom: 3vh;
    color: coral;
}
.div2L-in p{
    font-size: 2vw;
    color: rgb(190, 123, 123);
}

.div2R{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.div2R-in1 video{
    height: 29vh;
    margin-bottom: 5vh;
}
.div2R button{
    width: 23vw;
    height: 10vh;
    font-size: 3.5vw;
    border-radius: 4vw;
    background-color: rgb(0, 174, 255);
    color: white;
    border: none;
}





.footer{
    border: 0.1vw solid black;
    border-top: none;
    width: 90%;
    height: 20%;
    margin-left: 5%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer  .footer-in{
    width: 50%;
    height: 30%;
}
.footer-in i{
    font-size: 3vw;
  margin-left: 3vw;
    /* margin: 1vw; */
}
.footer-in a{
    margin-left: 2vw;
    font-size: 2.5vw;
   
}


